<h1>About Our Company</h1>
<p>"suStylish" stands for "sustainable style." Our mission is to provide fun, stylish accessories that honor Mother Earth by being made from renewable and biodegradable resources. We also believe in returning some of our earnings to the global community in an effort to improve lives throughout the world.

The idea came to me during lunchtime with my adult daughter when I looked at her sunglasses on the table. I thought aloud that people pay a lot of money to have designer glasses that have only one design on them take it or leave it. Don't people want variety? Do they really have to buy several whole pairs of glasses to get several designs? We began to work out the engineering needed to have glasses with interchangeable designs. We finally found a way to do it, and suStylish was born.

The other elements of our mission, about using renewable resources and giving back to the community, came naturally as part of our personal values.

Currently, our only model of sunglasses is the popular Wayfarer style with a combination cellulose acetate frame and bamboo temple pieces. Soon we will offer all bamboo and all acetate models and other styles. Eventually, we will add other accessories as well.

We sell additional designer pieces by the pair.</p>