<div class="container"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag("chain1.jpg", :class => "carousel-img") %>
      </div>

      <div class="item">
        <%= image_tag("lace1.jpg", :class => "carousel-img" ) %>
      </div>
    
      <div class="item">
        <%= image_tag("foxes1.jpg", :class => "carousel-img")%>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<h1>suStylish</h1>

<h2>Customize your look. Save the planet. Feel great.</h2>

<p>At suStylish we produce art designer sunglasses using sustainable materials. You may even find a design with matching earrings!</p>

<p>Our glasses,made with top quality materials and workmanship, are made from eco-friendly, sustainable materials, namely cellulose acetate and bamboo. The top grade polycarbonate lenses are polarized, scratch resistant, shatterproof, and offer 100% protection from UVA and UVB rays. The hinges are double barrel stainless steel for durability.</p>

<p>Available in black and slate grey frames.</p>